

<% if  @product.secondary_image.attached?%>
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade max-w-sm">
    <div class="numbertext text-gray-600">1 / 2</div>
    <%= image_tag @product.image, class: "mx-auto " %>
    <div class="text"></div>
  </div>

  <div class="mySlides fade max-w-sm">
    <div class="numbertext text-gray-600">2 / 2</div>
    <%= image_tag @product.secondary_image, class: "mx-auto " %>
    <div class="text"></div>
  </div>

  

  <!-- Next and previous buttons -->
  <a class="prev bg-slate-500" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next bg-slate-500" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  
</div>
<%else%>
<div class="mx-auto max-w-sm">
    <%= image_tag @product.image, class: " " %>
</div>

<%end%>