  
  <!-- no route has been created yes-->
  
  <section class="bg-white darkklbg-gray-900">
        <div class="container max-w-4xl px-6 py-10 mx-auto">
            <h1 class="text-4xl font-semibold text-center text-gray-800 darkkltext-white">Frequently asked questions</h1>
            <div class="mt-12 space-y-8">
            <%= render "allfaqs"%>

                
            </div>
        </div>
    </section>