

<div class="grid grid-cols-1 mx-auto container mt-28 md:px-5 px-2 ">
<h1 class="mx-auto  text-4xl">SHOP</h1>
<p class="mx-auto max-w-2xl text-center mt-5  ">
You want options? We’ve got options. From the luxe Ratio Eight 
and its conical physique to the no-nonsense Six, there’s a 
Ratio that matches your taste and temperament. Slow drinker? 
Add a thermal carafe. You want the form of the Six with the 
carafe of the Eight? Do it. Here’s everything you could ever want.
</p>
</div>
<main class="container mx-auto mt-10 md:px-5 px-2 flex">
<div class="flex flex-col w-screen min-h-screen p-10 bg-white text-gray-800">
<!-- replace any cols number with <%=@collm%> for dynamic loading on larger screens
reminder: it does its best to get a grid with no overflow either 3 , 4 or 5 columns -->
    <div id="store_products"  class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-6 gap-y-12 w-full mt-6">
        <%= render "allstoreproducts" %>
        <div>

</div>
    </div>
</div>
</main>






