<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class=" flex justify-between items-center">
    <h1 class="font-bold my-2 text-4xl">Managements</h1>
    
  </div>

  <div id="managements" class="min-w-full">
  <% if @content %>
  <%= render @managements %>
  <%else%>
  <%= link_to 'New management', new_management_path, class: "rounded-lg my-5 py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  <%end%>
  </div>
</div>
